h1
{
    font-family: Georgia;
    color:Gold;
}

body {
   text-align:center;
  font-family: verdana;
}

#bg{
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

input[type=submit] {
		  width: 25%;
		  background-color: #0765a3;
		  border: none;
		  color: white;
		  padding: 16px 32px;
		  text-decoration: none;
		  margin: 4px 2px;
		  cursor: pointer;
		}
input[type=text], input[type=password] ,input[type=email]{
  width: 30%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:1px;
  background: rgba(255,255,255,0.5;

}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
  background-color: #ddd;
  outline: none;

